.container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  height: 700px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.heading {
  font-family: Roboto;
  font-weight: 600;
  color: #a35200;
}

.para {
  color: #334155;
  font-family: Roboto;
  font-weight: 600;
}

.image {
  height: 200px;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  border-width: 0px;
  font-family: Roboto;
  font-weight: 500;
  padding: 7px;
  border-radius: 8px;
  margin-top: 30px;
}

.counts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-para {
  color: #475569;
  font-family: Roboto;
  margin-right: 40px;
}
